*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-container {
  .sider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 295px;
    background: url('../assets/image/bg-sibar.png');

    .logo {
      display: flex;
      justify-content: center;
      margin: 24px 0 60px;
    }

    .logo-bot {
      position: fixed;
      bottom: 24px;
      left: 60px;
    }
  }

  .layout {
    margin-left: 295px;
    background: #F5F5F5;
    min-height: 100vh;
    width: calc(100vw - 295px);
    padding: 25px 48px;
  }

  .item-sibar {
    margin: 20px 0;

    a {
      display: flex;
      align-items: center;
      color: rgba(146, 60, 60, 0.94);
      font-size: 25px;
      font-style: normal;
      font-weight: 600;

      img {
        margin: 0 20px;
      }
    }

    a:hover {
      color: rgba(114, 8, 8, 0.94);
    }
  }

}

.body-login {
  background: url('../assets/image/back-ground-login.svg');
  width: 100vw;
  height: 100vh;

  .background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  .background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  }

  .shape:first-child {
    background: linear-gradient(#1845ad,
        #23a2f6);
    left: -80px;
    top: -80px;
  }

  .shape:last-child {
    background: linear-gradient(to right,
        #ff512f,
        #f09819);
    right: -30px;
    bottom: -80px;
  }

  form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    text-align: center;



  }

  form * {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
  }

  form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }

  label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }

  input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }

  ::placeholder {
    color: #e5e5e5;
  }

  button {
    margin-top: 50px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }

  .social {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .go {
      cursor: pointer;
    }

  }

  .social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
  }

  .social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
  }

  .social .fb {
    margin-left: 25px;
  }

  .social i {
    margin-right: 4px;
  }

}

.labelName {
  color: var(--Black, #474646);
  font-size: 20px !important  ;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-align: left !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.input-login {
  border-radius: 50px !important;
  border: 1px solid #C9C9C9;
}

.input-login::placeholder {
  color: #999 !important;
  /* Màu chữ của placeholder */
}

.btn-login {
  border-radius: 80px !important;
  background: #96ABCC !important;
  color: #fff !important;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding: 15px 35px !important;
  border: none;
  display: flex;
  align-items: center;
  margin: auto;
}

form{
  position: relative;

  .img1{
    position: absolute;
    top: 236px;
    right: -213px;
  }
  .img2{
    position: absolute;
    bottom: -62px;
    left: -146px;
    
  }
  .img3{
    position: absolute;
    top: 180px;
    left: -70px;
  }
}

.img-header{
  position: fixed;
  width: 100vw;
}