<div class="container">
    <div class="title">
        Khóa học - {{courseData?.courseTitle}} - {{courseData?.courseGrade}}
        <span class="tab">
            {{courseData?.courseType == 1 ? 'Khóa video' : 'Khóa meeting'}}
        </span>
    </div>

    <div class="out-line-content">
        <div class="title-content">Miêu tả khoá học</div>

        <div class="content">
            {{courseData?.courseDescriptionText}}
        </div>
        <div class="content">
            {{courseData?.courseSubtitle}}
        </div>

        <div class="content">
            Thời gian bắt đầu: {{courseData?.timeStart}}
        </div>
        <div class="content">
            Thời gian kết thúc: {{courseData?.timeEnd }}
        </div>

        <div class="content"  *ngIf="isShowFormChangeTime">
            <div style="margin-bottom: 20px;">
                Thời gian bắt đầu: <input type="date" [(ngModel)]="timeStartCtrl">
            </div>
            <div>
                Thời gian kết thúc: <input type="date" [(ngModel)]="timeEndCtrl">
            </div>
        </div>

        <div class="content">
            <button *ngIf="!isShowFormChangeTime" class="btn btn-add" (click)="showFormChangeTime()">Thay đổi thời gian</button>
            <button *ngIf="isShowFormChangeTime" (click)="handleChangeTime()">Thay đổi</button>
        </div>


        <div class="content">
            Trạng thái: {{statusClass}}
        </div>

        <div class="info-image">
            <img src="../../../../assets/image/image-source.png">
            <!-- <button class="btn btn-change-image">Thay đổi ảnh</button> -->
        </div>

        <div class="out-line-title">
            <div class="title-content">{{courseData?.courseType == 1 ? 'Đề cương' : 'Danh sách Lớp học'}}</div>
            <div class="action-btn">
                <button class="btn btn-add-chapter" (click)="openModal('Thêm mới chương')" *ngIf="courseData?.courseType == 1">
                    Thêm chương
                </button>

                <button class="btn btn-add-chapter" (click)="openModal('Thêm mới lớp học')" *ngIf="courseData?.courseType != 1">
                    Thêm lớp học
                </button>
            </div>
        </div>

        <div *ngIf="courseData.courseType == 1">
            <table class="table-custom">
                <thead>
                    <tr class="row">
                        <th class="text-left" style="width: 100px;">Số thứ tự</th>
                        <th class="text-left" style="width: 300px;">Tên chương</th>
                        <th class="text-center" style="width: 230px;">Chi tiết từng chương</th>
                        <th class="text-center" style="width: 140px;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of courseData.chaptersVo; let index = index" class="row">
                        <td class="text-left" style="width: 100px;">{{ index+1 }}</td>
                        <td class="text-left" style="width: 300px;"> {{ item.chapterTitle }}</td>
                        <td class="text-center" style="width: 230px; justify-content: center">
                            <button class=" btn-establish" (click)="onSetupLesson(item.chapterId)">Thiết lập bài giảng</button>
                        </td>
                        <td class="text-center" style="width: 140px; justify-content: center">
                            <button class="btn-remove" (click)="deleteChapter(item.chapterId)">Xoá chương</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="courseData.courseType == 2">
            <table class="table-custom">
                <thead>
                    <tr class="row">
                        <th class="text-center" style="width: 100px;">Số thứ tự</th>
                        <th class="text-left" style="width: 120px;">Giáo viên</th>
                        <th class="text-left" style="width: 120px;">Lớp học</th>
                        <th class="text-center" style="width: 120px;">Số học sinh</th>
                        <th class="text-left" style="width: 120px;">Trạng thái</th>
                        <th class="text-center" style="width: 350px;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of courseData.classVos; let index = index" class="row">
                        <td class="text-center" style="width: 100px;">{{ index+1 }}</td>
                        <td class="text-left" style="width: 120px;"> {{ item.tutorName }}</td>
                        <td class="text-left" style="width: 120px;"> {{ item.className }}</td>
                        <td class="text-center" style="width: 120px"> {{ item.totalStudents }}</td>
                        <td class="text-left" style="width: 120px;"> {{ convertStatus(item.totalStudents) }}</td>
                        <td class="text-center" style="width: 350px; display: flex; justify-content: center">
                            <button class="btn-edit"  (click)="onDetailClass(item.classId)" style="background-color: #98ffb9;">Chi tiết</button> 
                            <button class="btn-edit"  (click)="openModal('Chỉnh sửa thông tin',item)">Chỉnh sửa</button> 
                            <button class=" btn-remove" (click)="deleteClass(item.classId)">Xoá lớp</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="title-content">Danh sách học sinh đang chờ</div>
            <table class="table-custom">
                <thead>
                    <tr class="row">
                        <th class="text-center" style="width: 20%;;">Tên học sinh</th>
                        <th class="text-center" style="width: 20%;;">Số điện thoại</th>
                        <th class="text-center" style="width: 30%;;">Địa chỉ</th>
                        <th class="text-center" style="width: 30%;;">Gmail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of waitList; let index = index" class="row">
                        <td class="text-center" style="width: 20%;;">{{item.userName}}</td>
                        <td class="text-center" style="width: 20%;;">{{item.userPhone}}</td>
                        <td class="text-center" style="width: 30%;;">{{item.userAddress}}</td>
                        <td class="text-center" style="width: 30%;;">{{item.userEmail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- form thiết lập khóa học  -->
<app-course-detail-chaper-form [data]="modalData" [isOpen]="isModalOpen" (closeModalS)="onCloseModal()"></app-course-detail-chaper-form>

<!-- form thiết lập bài giảng -->
<app-lesson-form [data]="modalData" [isOpen]="isModalOpen2" (closeModal)="onCloseModal2()"></app-lesson-form>