.statistical{
    display: flex;
    justify-content: space-between;
    padding: 36px 60px;
    border-radius: 10px;
    background: #D8C6DB;
    margin: 40px 0;

    .item{
        display: flex;

        .item-info{
            margin-left: 14px;

            .name{
                color: #FFF;
                font-size: 23px;
                font-style: normal;
                font-weight: 600;
            }

            .quantity{
                color: #4D5C91;
                font-size: 30px;
                font-style: normal;
                font-weight: 800;
            }
        }
    }
}

.chart{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}