<div class="container">
    <div class="title">{{chapterData.chapterTitle}}<span class="tab">{{typeId == 1 ? 'Khóa video' :'Khóa meeting'}}</span></div>

    <div class="out-line-content">
        <div class="out-line-title">
            <div class="title-content">Danh sách bài học</div>
            <div class="action-btn">
                <button class="btn btn-add-chapter" (click)="openModal()">Thêm bài học</button>
            </div>
        </div>

        <table class="table-custom">
            <thead>
                <tr class="row">
                  <th class="text-left" style="width: 150px;">Tên bài học</th>
                  <th class="text-left" style="width: 150px;">Link video</th>
                  <th class="text-center" style="width: 120px;">Lượt xem</th>
                  <th class="text-center" style="width: 150px;">Chi tiết</th>
                  <th class="text-center" style="width: 300px;">Hành động</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of chapterData.lessonVos" class="row">
                  <td class="text-left" style="width: 150px;">{{ item.lessonTitle }}</td>
                  <td class="text-left"  style="width: 150px;"> {{ item.lessonVideoLink }}</td>
                  <td class="text-center"  style="width: 120px;"> {{ item.lessonVideoView }}</td>

                  <td class="text-center"  style="width: 150px; justify-content: center">
                      <button class="btn-detail" (click)="onDetail(item.lessonId)">Chi tiết</button>
                  </td>
                  <td class="text-center" style="width: 300px; justify-content: center">
                      <button class="btn-edit" (click)="openModal(item)">Chỉnh sửa</button>
                      <button class="btn-delete" (click)="deleteRecord(item.lessonId)">Xóa</button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                  <div style="height: 60px;"></div>
              </tfoot>
        </table>
    </div>
</div>

<app-course-detail-lesson-form [data]="modalData" [isOpen]="isModalOpen" (closeModal)="onCloseModal()"></app-course-detail-lesson-form>
