<!-- student-modal.component.html -->
<div class="overlay" *ngIf="isOpen">
    <div class="modal">
        <div>
            <div class="title-form">Thêm mới lớp học</div>
            <form (ngSubmit)="onSubmit()" class="my-form">
                <div class="out-line-ip">
                    <label for="courseName" class="label-ip">Tên lớp học</label>
                    <input class="ip" type="text" id="courseName" name="courseName" [(ngModel)]="chapterNo" required>
                </div>

                <div class="out-line-ip">
                    <label for="coursePrice">Link lớp học</label>
                    <input type="text" id="coursePrice" name="coursePrice" [(ngModel)]="chapterTitle" required>
                </div>

                <div class="out-line-ip">
                    <label for="coursePrice">Link lớp học</label>
                    <select name="source" id="source" style="margin-right: 20px;">
                        <option value="all">Tất cả</option>
                      </select>
                </div>

                <div class="action-btn">
                    <button (click)="onCloseModal()" class="btn btn-close">Đóng</button>
                    <button type="submit" class="btn btn-add">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>