<div class="container">
    <div class="title">Danh Sách Khoá Học</div>

    <div class="statistical">
        <div class="outline-input-search">
            <img src="../../../assets/image/icon-search.svg">
            <input id="search" name="search" type="text" placeholder="Tìm kiếm..." class="ip-search" [(ngModel)]="name" (keyup.enter)="onSearch()">
        </div>
        <div class="action">
            <button class="btn btn-load" (click)="refreshData()">
                <img src="../../../assets/image/icon-reload.svg">
                Tải lại danh sách
            </button>
            <button class="btn btn-add" (click)="openModal()">
                <img src="../../../assets/image/icon-add.svg">
                Thêm khoá học
            </button>
        </div>
    </div>

    <div class="out-line-title">
      <div class="title">Danh Sách Khoá Học</div>
      <div class="action-btn">
        <select (change)="changeValueSelect($event)" name="source" id="source" style="margin-right: 20px;">
          <option value="all">Tất cả</option>
          <option value="1">Khóa video</option>
          <option value="2">Khóa Meeting</option>
        </select>
        <button class="btn-filter" (click)="onSearch()">Lọc kết quả</button>
      </div>
    </div>

    <table class="table-custom">
        <thead>
          <tr class="row">
            <th class="text-left" style="width: 170px;">Tên khoá học</th>
            <th class="text-left" style="width: 150px;">Giá khoá học</th>
            <th class="text-left" style="width: 150px;">Thể loại</th>
            <th class="text-center" style="width: 170px;">Chi tiết thông tin</th>
            <th class="text-center" style="width: 300px;">Hành động</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let student of students" class="row">
            <td class="text-left" style="width: 170px;">{{ student.courseTitle }}</td>
            <td class="text-left"  style="width: 150px;"> {{ formatCurrency(student.coursePrice) }}</td>
            <td class="text-left" style="width: 150px;">
                {{ student.courseTypeShow }}
            </td>
            <td class="text-center"  style="width: 170px; justify-content: center">
                <button class="btn-detail"  (click)="onDetail(student.courseId)">Chi tiết</button>
            </td>
            <td class="text-center" style="width: 300px; justify-content: center">
                <button class="btn-edit" (click)="openModal(student)">Chỉnh sửa</button>
                <button class="btn-delete" (click)="deleteRecord(student.courseId)">Xóa</button>
            </td>
          </tr>
        </tbody>
        <tfoot style="display: flex; justify-content: space-between;">
            <div></div>
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-left: 20px;">Tổng số {{paging.totalRecord}} bản ghi</p>
              <div
                style="display: flex; align-items: center;"
              >
                <button (click)="previousPage()"><</button>
                <div>Hiển thị trang thứ {{paging.page}} / {{paging.totalPage}} trang</div>
                <button (click)="nextPage()">></button>
              </div>
            </div>
        </tfoot>
      </table>
</div>
<app-course-form [data]="modalData" [isOpen]="isModalOpen" (closeModal)="onCloseModal()"></app-course-form>
