@import url('../../../../assets/style/table.scss');

select {
    border-radius: 10px;
    border: 1px solid #939393;
    background: #FFF;
    color: #818181;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 6px 10px;
}
